#mainInicio {
  padding: 78px 0 0 0;
}
.carouselimgs {
  height: 90vh;
  object-fit: cover;
}

.carousel-caption {
width: 100%;
background-color: rgba(0, 0, 0, 0.247);
left: 0%;
font-size: 1.5rem;

}


.tituloCarousel {
  font-size: xx-large;
  text-shadow: 1px 1px 10px rgba(25, 25, 25, 0.666);
}

.main__section__imagenesInformativas {
  object-fit: cover;
  border-radius: 0%;
}

.main_section_seccionInfoh4 {
  color: rgb(0, 170, 208);
}
.main__section__seccionInfohr {
  color: rgb(0, 77, 105);
}



.cuadroInfo {
  background-color: rgb(1, 144, 176);
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
}
#noticiasInicio {
  background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(0, 166, 203, 0.734)
    ),
    url(../assets/imgClinica2.webp);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.card-img-top {
  height: 30vh;
  object-fit: cover;
}

.cardInicio {
  height: 50vh;
}

@media screen and (max-width: 576px) {
  .cuadroInfo {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .carouselimgs {
    height: 50vh;
  }
}

@media screen and (max-width: 768px) {
  .carouselimgs {
    height: 50vh;
  }
  #mainInicio {
    padding: 73px 0 0 0;
  }
  .tituloCarousel{
    font-size: 1.3rem;

  }
  .botonSacarTurno {
    
    padding: 0.5rem 1.75rem;
    font-size: 1.1rem;
   
  }

}
