
.img1{
   
    height: 140px;
    width: 140px;
   
    border-radius:50%;
    
object-fit:cover;

}
   
  .main_acercade{
    padding-top: 24vh;
  }
  
  .img_acercade{
    height: 40vh;
    object-fit: cover;
  }
  .div_acercade_linea{
    height: 10vh;
    background-color:  rgb(0,165,203);
    width: 0.5vw;
  }
  .textverde{
    color: rgb(0,165,203);
  }