<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cargar Pacientes</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <script
      src="https://kit.fontawesome.com/24cc370bda.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="shadow">
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <div class="container">
          <a
            id=""
            class="navbar-brand d-flex align-items-center volverAinicio"
            href=""
          >
            <img
              src="../assets/logo.png"
              alt="logo de la clinica"
              class="me-2 logo"
            />
            <div>
              <h3 class="clinicaTitulo my-auto">Salud Integral</h3>
              <h6 class="my-auto">Clínica Médica</h6>
            </div>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarClinica"
            aria-controls="navbarClinica"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarClinica">
            <ul
              class="navbar-nav me-auto ms-auto mb-2 mb-lg-0 d-flex align-items-center"
            >
              <li class="nav-item">
                <a class="nav-link" href="./index.html">TURNOS PROGRAMADOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link linkActivo" aria-current="page" href="#"
                  >PACIENTES</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#"
                  >GESTION DE TURNOS</a
                >
              </li>
            </ul>
            <div class="d-flex justify-content-center">
              <button
                type="button"
                id="botonAdmin"
                class="btn btn-secondary text-light rounded-0"
                data-bs-toggle="modal"
                data-bs-target="#accederAdmin"
                disabled
              >
                ADMINISTRADOR
              </button>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main id="mainAdmin" class="container">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit
        hic voluptatibus illum cum vel exercitationem dicta. Consequuntur
        expedita, voluptas quae harum odit qui totam, ipsam porro animi commodi
        quam aliquam sint explicabo ex accusantium dolores libero aperiam soluta
        quis? Perspiciatis officiis neque odio consequatur eveniet nostrum quam
        perferendis ipsam! Cupiditate odit, tempora voluptatem delectus repellat
        aut ea optio quod itaque expedita sit dolorem fugiat rerum consequuntur
        corporis qui consectetur, obcaecati ad veniam inventore voluptatibus
        vitae maiores ullam architecto? Magnam, ratione reprehenderit laboriosam
        fuga, minima ullam saepe, facilis beatae est blanditiis perspiciatis
        quibusdam sint quae! Dolorem mollitia blanditiis qui provident cumque
        porro fuga facilis fugiat placeat asperiores a ipsa distinctio atque
        dolores quasi, eos iusto quam! Harum molestiae architecto, ullam aut
        quod eligendi vel at fugiat porro voluptas consequuntur, unde
        repellendus beatae id exercitationem nesciunt accusamus cupiditate
        dolore, quibusdam eum? Voluptates hic earum ab dolor distinctio esse
        ipsam temporibus eius aliquam. Quos, nobis ipsum! Ratione, deserunt
        commodi, quam velit maxime distinctio recusandae error illo odit
        voluptate dolor officiis debitis vel fuga et, quasi facilis consectetur?
        Fugiat in suscipit rerum nesciunt sed sit incidunt non veniam nostrum
        beatae, ullam assumenda fugit quae dolorum illo inventore labore maxime
        adipisci voluptatum vitae. Amet qui perferendis facilis nisi harum?
        Pariatur itaque recusandae hic veritatis ipsa dignissimos sint, voluptas
        minus eius? Aspernatur modi qui voluptate tenetur. Dolore magnam, vero,
        aperiam quia doloribus, optio a earum placeat facilis nemo eius impedit
        suscipit. Repellendus laborum, cum autem porro a amet! Ratione itaque ab
        non mollitia optio excepturi dolorum officia voluptate, repellendus vel,
        sapiente accusantium? Dolor adipisci voluptatem, blanditiis atque id a
        nihil omnis iste placeat? Quasi nulla sequi saepe nihil, veniam in
        expedita esse numquam consectetur ipsum iste voluptas ad, eaque
        consequatur modi labore, ullam dolorum deleniti perspiciatis. Delectus
        nihil eveniet, molestiae nam ducimus officia excepturi rerum maiores
        tenetur dolor deserunt alias! Repellendus maxime tempora illo accusamus
        eum corrupti, doloribus libero, beatae explicabo est quasi! Illo ex
        culpa eos est. Minima itaque natus accusamus hic pariatur deleniti
        aliquam sunt ut est unde quia mollitia sint necessitatibus vero ipsam
        quae saepe id, adipisci ipsum modi odio! Iusto pariatur praesentium
        commodi error tempora. Vero dolor dolorem commodi non minus ipsam
        distinctio veritatis, similique iste, modi voluptas deleniti esse vitae
        enim voluptatibus vel dicta consequatur expedita. Culpa qui modi iure
        voluptatibus explicabo odit aliquid corrupti. Inventore perspiciatis
        nisi recusandae, atque eum totam corporis non tempora, ut qui molestiae
        ipsam obcaecati. Eos, vero. Modi autem quam soluta aut! Odio explicabo
        at esse veritatis molestiae perspiciatis, iure a nesciunt facere rem
        accusantium laboriosam, aut vitae corrupti quibusdam reiciendis ea
        itaque soluta amet quo eveniet illum, sed tenetur cum. Eum minus beatae
        dolorum reprehenderit odit temporibus, laudantium, possimus veniam eos
        inventore quo ad aliquam repudiandae magnam fugiat. Aut odio aliquam
        neque nisi blanditiis suscipit, repellendus impedit esse. Nisi, sapiente
        laboriosam! Unde praesentium velit autem provident reiciendis
        consequatur sequi assumenda, necessitatibus sint ducimus dolorum
        consequuntur, illo tempore magnam doloremque similique? Autem
        reprehenderit dicta, repudiandae nemo quis deleniti nulla ducimus,
        soluta possimus totam ex illo sequi?
      </p>
    </main>

    <footer class="bg-dark opacity-75 text-light pt-4">
      <section class="container pb-2">
        <div class="row mx-auto">
          <article class="col-sm-12 col-md-4 mt-2">
            <a
              class="navbar-brand d-flex align-items-center justify-content-center volverAinicio"
              href="../index.html"
            >
              <img
                src="../assets/logo.png"
                alt="logo de la clinica"
                class="me-2 logo"
              />
              <div>
                <h3 class="clinicaTitulo my-auto">Salud Integral</h3>
                <h6 class="my-auto">Clínica Médica</h6>
              </div>
            </a>
            <div class="RedesFooter mt-1 d-flex justify-content-center">
              <h5 class="my-auto ms-1 me-3">¡Seguinos!</h5>
              <a href="https://www.facebook.com">
                <i class="fa-brands text-secondary fa-facebook icons me-2"></i
              ></a>
              <a href="https://www.instagram.com"
                ><i class="fa-brands text-secondary fa-instagram icons me-2"></i
              ></a>

              <a href="https://web.whatsapp.com/"
                ><i class="fa-brands text-secondary fa-whatsapp icons me-2"></i
              ></a>

              <a href="https://web.telegram.org/k/"
                ><i class="fa-brands text-secondary fa-telegram icons me-2"></i
              ></a>
            </div>
          </article>

          <article class="col-sm-12 col-md-4 mt-2 text-center">
            <h5 class="footerTitulo">Contacto</h5>

            <div class="d-flex justify-content-center">
              <div>
                <i class="fa-solid fa-location-dot fa-1x mb-1"></i>
              </div>
              <div class="mx-2">
                <p class="mb-1">Gral. Paz 578 - San Miguel de Tucumán</p>
              </div>
            </div>

            <div class="d-flex justify-content-center">
              <div>
                <i class="fa-solid fa-phone fa-1x mb-1"></i>
              </div>
              <div class="mx-2">
                <p class="mb-1">(+54) 381 987 6543</p>
              </div>
            </div>

            <div class="d-flex justify-content-center">
              <div>
                <i class="fa-solid fa-envelope fa-1x mb-1"></i>
              </div>
              <div class="mx-2">
                <a href="../views/error404.html" class="nav-link mb-1"
                  >contacto@clinmed.com</a
                >
              </div>
            </div>
          </article>
          <article class="col-sm-12 col-md-4 mt-2 text-center">
            <h5 class="footerTitulo">Información</h5>

            <a class="nav-link" href="../views/error404.html"
              >Preguntas frecuentes</a
            >
            <a class="nav-link" href="../views/error404.html"
              >Horarios de atención</a
            >
            <a class="nav-link" href="../views/error404.html"
              >Solicitar turno</a
            >
          </article>
        </div>
      </section>
      <section class="footer py-1 mt-2">
        <p class="text-center text-light mb-0">
          &copy; Todos los derechos reservados
        </p>
      </section>
    </footer>

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- <script type="module" src="./js/adminPaciente.js"></script> -->
    <script type="module" src="../js/appAdmin.js"></script>
  </body>
</html>
